.jumbotron{
    background-color: beige;
}

.margen{
    margin: 0 5px;
}


.tarjeta{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.parrafo{
    text-align: justify;
}

.hoteles{
    border: 1px solid rgb(79, 106, 187);
    border-radius: 5px;
}

.descripcion{
    flex: 1 400px;
    margin: 15px 10px;
    padding: 0 20px;
}

.info{
    width: 100%;
    background-color: rgb(79, 106, 187);
    color: white;
}

.info:hover{
    background-color: rgb(54, 78, 148);
    color: white;
}

footer{
    background-color: bisque;
}

.footer{
    border : 1px solid black;
}

.izquierda{
    text-align: left;
}

.centro{
    text-align: center;
}

.derecha{
    text-align: right;
}

@media screen and (max-width : 500px){
    .izquierda{
        text-align: center;
    }
    .derecha{
        text-align: center;
    }
}